@import url(./assets/css/icons.css);
@import url(./assets/css/element-icons.css);

@font-face {
  font-family: Proto Mono;
  src: url(./assets/fonts/ProtoMono-Light.otf);
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Proto Mono;
  src: url(./assets/fonts/ProtoMono-Regular.otf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Proto Mono;
  src: url(./assets/fonts/ProtoMono-Bold.otf);
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Roboto Mono;
  src: url(./assets/fonts/RobotoMono-Regular.ttf);
  font-display: swap
}

@font-face {
  font-family: IBM Plex Mono;
  src: url(./assets/fonts/ibm-plex-mono-latin-400-normal.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: IBM Plex Mono;
  src: url(./assets/fonts/ibm-plex-mono-latin-500-normal.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: IBM Plex Mono;
  src: url(./assets/fonts/ibm-plex-mono-latin-600-normal.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: IBM Plex Mono;
  src: url(./assets/fonts/ibm-plex-mono-latin-700-normal.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Darker Grotesque;
  src: url(./assets/fonts/darker-grotesque-latin-400-normal.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Darker Grotesque;
  src: url(./assets/fonts/darker-grotesque-latin-500-normal.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Darker Grotesque;
  src: url(./assets/fonts/darker-grotesque-latin-600-normal.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Darker Grotesque;
  src: url(./assets/fonts/darker-grotesque-latin-700-normal.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Familjen Grotesk;
  src: url(./assets/fonts/familjen-grotesk-latin-400-normal.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Familjen Grotesk;
  src: url(./assets/fonts/familjen-grotesk-latin-500-normal.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Familjen Grotesk;
  src: url(./assets/fonts/familjen-grotesk-latin-600-normal.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Familjen Grotesk;
  src: url(./assets/fonts/familjen-grotesk-latin-700-normal.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Kdam Thmor;
  src: url(./assets/fonts/kdam-thmor-pro-latin-400-normal.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}



html {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

.dark-theme .dialog {
  background-color: var(--bg);
}

.dark-theme .gn-button {
  border-color: transparent;
}

.font-gradient1
{
  background: linear-gradient(180deg, #FF3398 32.79%, #F7931A 85.45%);
}

body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    color: #adb5bd;
    text-align: left;
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available
}

#page, #content, footer, .pix-top-bar
{
  transition: filter 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-font-family{
  font-family: "Manrope" !important;

}

body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: #333;
}

html{
  font-family: var(--pix-body-font), sans-serif !important;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    width: 100%;
    
}

:root {
  --pix-dialog-border-radius: 0px;
  --pix-dialog-padding: 0px;
  --pix-dialog-close-left: initial;
  --pix-dialog-close-size: 35px;
  --pix-dialog-close-color: #eee;
  --pix-dialog-background-color: none;
  --pix-dialog-width: calc(var(--pix-container-width, 1140px) / 2);
  --pix-dialog-height: initial;
  --pix-dialog-shadow: none;
  --pix-dialog-margin: auto;
  --pix-dialog-enter-animation-duration: 300ms;
  --pix-dialog-exit-animation-duration: 200ms;
  --pix-dialog-backdrop-bg: rgba(0, 0, 0, 0.8);
  --pix-dialog-backdrop-filter: none;
  --pix-launcher-bottom-value: 20px;
  --pix-launcher-horizontal-value: 20px;
  --pix-launcher-background-color: #fff;
  --pix-launcher-color: #333;
  --pix-launcher-shadow: none;
  --pix-launcher-padding: 0;
  --pix-launcher-width: 50px;
  --pix-launcher-height: 50px;
  --pix-launcher-border-radius: 100%;
}

.font-custom{
  font-family: IBM Plex Mono, sans-serif;
}
html{
  max-height: 100vh;
  overflow-y: scroll;
}

.y-transform{
  --e-transform-translateY:-3px;
}

.nav-ecosystem{
  margin-top: 3.5px;
}